<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :record_date %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :record_title %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :record_place %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :record_content %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :record_number %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :record_time %>
  </div>

  <div class="field">
    <%= form.label :recorder %>
    <%= form.text_field :recorder, id: :record_recorder %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
