<%= render 'header' %>

<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">タイトル</th>
      <th scope="col">作業場所</th>
      <th scope="col">記録者</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr onclick='window.location="<%= '/records/' + record.id.to_s %>"' style="cursor: pointer;" >
        <td scope="row"><%= record.date %></td>
        <td scope="row"><%= record.title %></td>
        <td scope="row"><%= record.place %></td>
        <td scope="row"><%= record.recorder %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to '新規作成', new_record_path , {method: :get, class: "btn btn-outline-primary"} %>
