<%= render 'header' %>

<p id="notice"><%= notice %></p>

<h2 style="padding: 30px 0px 30px 0px;">
  <%= @record.title %>
</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">作業場所</th>
      <th scope="col">作業人数</th>
      <th scope="col">作業時間</th>
      <th scope="col">記録者</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @record.date %></td>
      <td><%= @record.place %></td>
      <td><%= @record.number %></td>
      <td><%= @record.time %></td>
      <td><%= @record.recorder %></td>
    </tr>
  </tbody>
</table>

<p>
  <strong>作業内容</strong>
</p>

<%= simple_format(@record.content) %>

<%= button_to '編集', edit_record_path(@record) , {method: :get, class: "btn btn-outline-primary"} %>